/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .content div {
        grid-column: span 12 / span 12;
    }

    .main {
        padding: 0 20px 0;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .content div {
        grid-column: span 12 / span 12;
    }

    .main {
        padding: 0 20px 0;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .content div {
        grid-column: span 6 / span 6;
    }

    .main {
        padding: 0 120px 0;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1024px) {
    .content div {
        grid-column: span 6 / span 6;
    }

    .main {
        padding: 0 120px 0;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1280px) {
    .content div {
        grid-column: span 6 / span 6;
    }
    
    .main {
        padding: 0 120px 0;
    }
}